<template>

  <div id="app">
    <h2 style="margin: 0;">Vue CropperJS</h2>
    <hr/>
    <input type="file" name="image" accept="image/*"
           style="font-size: 1.2em; padding: 10px 0;"
           @change="setImage" />
    <br/>
    <div style="max-width: 800px; border: 1px solid gray; display: inline-block;">
      <vue-cropper
          ref='cropper'
          :cropBoxResizable="true"
          :guides="true"
          :view-mode="2"
          drag-mode="none"
          :auto-crop-area=1
          :minCropBoxWidth=150
          :minCropBoxHeight=150
          :aspectRatio=1
          :background="true"
          :rotatable="true"
          :src="imgSrc"
          alt="Source Image"
          :img-style="{  }">
      </vue-cropper>
    </div>
    <img :src="cropImg" style="width: 150px; height: 150px; border: 1px solid gray" alt="Cropped Image" />
    <br/>
    <br />
    <button @click="rotate" v-if="imgSrc != ''">Rotate</button>
    <button @click="cropImage" v-if="imgSrc != ''" style="margin-right: 40px;">Crop</button>
    <button @click="saveImage" v-if="cropImg != ''" style="margin-right: 40px;">Save</button>
  </div>

</template>

<script>
import VueCropper from "vue-cropperjs";
import axios from "axios";
export default {
  components: {
    VueCropper
  },
  data() {
    return {
      imgSrc: "default.png",
      cropImg: "default.png",
      type: ""
    };
  },
  mounted() {
    let imageData = this.$refs.cropper.getImageData();
  },
  methods: {
    setImage(e) {
      const file = e.target.files[0];
      let isimage = file.type.includes("image/");

      if (!isimage) {
        alert("Please select an image file");
        return;
      }

      if (typeof FileReader === "function") {
        const reader = new FileReader();

        reader.onload = event => {
          this.imgSrc = event.target.result;
          // rebuild cropperjs with the updated source
          this.$refs.cropper.replace(event.target.result);
        };

        reader.readAsDataURL(file);
      } else {
        alert("Sorry, FileReader API not supported");
      }
    },
    cropImage() {
      console.log(this.$refs.cropper.getCroppedCanvas());
      // get image data for post processing, e.g. upload or setting image src
      this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
    },
    saveImage() {
      if (this.imgSrc.includes("png")) {
        this.type = "png";
      }
      if (this.imgSrc.includes("jpeg")) {
        this.type = "jpeg";
      }
      if (this.imgSrc.includes("jpg")) {
        this.type = "jpg";
      }

      // get image data for post processing, e.g. upload or setting image src
      // Upload cropped image to server if the browser supports `HTMLCanvasElement.toBlob`
      this.$refs.cropper.getCroppedCanvas().toBlob(blob => {
        const formData = new FormData();

        formData.append("croppedImage", blob);
        formData.append("aoaid", "123456");
        formData.append("type", this.type);
        axios
          .post("./upload", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(
            function(data) {
              console.log(data);
              this.complete = true;
            }.bind(this)
          )
          .catch(
            function(data) {
              this.error = true;
              this.errormsg = "Something went wrong, please contact support.";
            }.bind(this)
          );
      });
    },
    rotate() {
      // guess what this does :)
      this.$refs.cropper.rotate(90);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
