<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center wrap>
          <v-flex xs12 md8>
            <LoadingSpinner :loading="superloading"/>
            <v-card v-if="!superloading" class="elevation-12" >
              <v-toolbar dark color="secondary">
                <v-toolbar-title>AOA Staff Photo - <div :class="{'staffname': $vuetify.breakpoint.smAndUp}" class="subheading">{{name}}</div></v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-alert
              v-if="error"
              :value="errormsg"
              type="error">
              {{errormsg}}
              </v-alert>
              <v-layout v-else align-center justify-center wrap row class= "py-5">
                <v-flex md6 xs12>
                  <div class="text-xs-center ma-2">
                  <input type="file" name="image" accept="image/*"
                    style="display: none"
                    @change="setImage" />
                    <v-btn
                    color = "info"
                    v-on:click="fileinputShortCut()"
                    >Select photo</v-btn>
                    <v-btn
                    color = "default"
                    v-if="!optOut"
                    v-on:click="optOutAction()"
                  >Use default Outlook photo</v-btn>
                  </div>
                  
                  <div class="ma-2" v-if="imgSrc && !optOut">
                    <br/>
                    <vue-cropper
                        ref='cropper'
                        :cropBoxResizable="true"
                        :guides="true"
                        :view-mode="2"
                        drag-mode="none"
                        :auto-crop-area=1
                        :minCropBoxWidth=150
                        :minCropBoxHeight=150
                        :aspectRatio=1
                        :background="true"
                        :rotatable="true"
                        :src="imgSrc"
                        alt="Source Image"
                        :responsive="true"
                        preview="#AOACropPreview"
                        :img-style="{ 'max-width': '100%', 'height': 'auto' }">
                    </vue-cropper>
                  </div>
                </v-flex>
                <v-flex md8 xs12 v-if="optOut">
                <div class="text-xs-center ma-2">
                    <img src="default.jpg" style="width: 150px; text-align: center; height: 150px; border: 1px solid gray" alt="Cropped Image" />
                    <v-card-actions style="justify-content: center">
                      <v-btn color="success" @click="saveDefault" :loading="loading">Save</v-btn>
                    </v-card-actions>
                      <v-alert
                      :value="success"
                      type="success"
                      transition="scale-transition"
                    >
                      Success!
                    </v-alert>
                  </div>
              </v-flex>
                <v-flex v-else md6 xs12>
                  <div class="text-xs-center ma-2">
                    <div id= "AOACropPreview"></div>
                    <v-card-actions style="justify-content: center">
                      <v-btn @click="rotate" v-if="imgSrc != ''">Rotate</v-btn>
                      <v-btn color="success" @click="saveImage" v-if="imgSrc != ''" :loading="loading">Save</v-btn>
                    </v-card-actions>
                    <v-alert
                    :value="success"
                    type="success"
                    transition="scale-transition"
                  >
                    Success!
                  </v-alert>
                  </div>
                  <br/>
                  <br />
                </v-flex>
            </v-layout>
          </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import VueCropper from "vue-cropperjs";
import { mapState } from "vuex";
import { AUTH_USER } from "../store/actions/auth";
import store from "../store";
import LoadingSpinner from "./UI/LoadingSpinner";
export default {
  name: "AOAStaffPics",
  components: {
    VueCropper,
    LoadingSpinner
  },
  computed: mapState({
    token: state => state.auth.token,
    name: state => state.auth.name
  }),
  // beforeRouteEnter(to, from, next) {
  //   store.dispatch(AUTH_USER).then(x => {
  //     if (x) {
  //       next(vm => {
  //         if (vm.mtype != "STAFF") {
  //           vm.$router.push("unauthorized");
  //         }
  //       });
  //     }
  //   });
  // },
  data() {
    return {
      imgSrc: "",
      cropImg: "",
      type: "",
      loading: false,
      superloading: true,
      error: false,
      errormsg: "",
      success: false,
      fileStored: false,
      optOut: false
    };
  },
  mounted() {
    if (this.aoa != "") {
      this.getStaffPhoto();
    } else {
      this.superloading = true;
    }
    if (this.name == "" || this.name == undefined) {
      this.getFormattedName();
    }
  },
  watch: {
    success(val) {
      let vuethis = this;
      if (val == true) {
        setTimeout(function() {
          vuethis.success = false;
        }, 2000);
      }
    },
    aoaid(val) {
      if (val != "") {
        this.getStaffPhoto();
      }
    }
  },
  methods: {
    optOutAction() {
      this.optOut = 1;
      this.imgSrc = "";
      document.querySelector("input[type=file]").value = "";
    },
    fileinputShortCut() {
      document.querySelector("input[type=file]").click();
    },
    getStaffPhoto() {
      const formData = new FormData();
      formData.append("aoaid", this.aoaid);

      this.superloading = true;
      this.$http
        .post("/api/getStaffPhoto", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
            Authorization: "bearer " + this.token
          },
          responseType: "blob"
        })
        .then(
          function(response) {
            // Default image on file, trigger optOut mode
            if (response.status == 206) {
              this.optOut = true;
            } else {
              this.optOut = false;
              const blob = new Blob([response.data], { type: "image/jpg" });
              let imageUrl = URL.createObjectURL(blob);
              this.imgSrc = imageUrl;
              if (this.$refs.cropper) this.$refs.cropper.replace(imageUrl);
            }
            this.superloading = false;
          }.bind(this)
        )
        .catch(
          function() {
            this.error = true;
            this.errormsg = "Something went wrong, please contact support.";
            this.superloading = false;
          }.bind(this)
        );
    },
    optOutAction() {
      this.optOut = 1;
      this.imgSrc = "";
      document.querySelector("input[type=file]").value = "";
    },
    fileinputShortCut() {
      document.querySelector("input[type=file]").click();
    },
    setImage(e) {
      const file = e.target.files[0];
      if (file) {
        let isimage = file.type.includes("image/");

        if (!isimage) {
          alert("Please select an image file");
          return;
        }

        if (typeof FileReader === "function") {
          const reader = new FileReader();
          this.optOut = false;
          reader.onload = event => {
            this.imgSrc = event.target.result;
            // rebuild cropperjs with the updated source
            if (this.$refs.cropper)
              this.$refs.cropper.replace(event.target.result);
          };

          reader.readAsDataURL(file);
          this.optOut = false;
        } else {
          alert("Sorry, FileReader API not supported");
        }
      }
    },

    saveImage() {
      // get image data for post processing, e.g. upload or setting image src
      // Upload cropped image to server if the browser supports `HTMLCanvasElement.toBlob`
      this.$refs.cropper.getCroppedCanvas().toBlob(blob => {
        const formData = new FormData();
        formData.append("croppedImage", blob);
        this.loading = true;
        this.$http
          .post("/api/upload", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
              Authorization: "bearer " + this.token
            }
          })
          .then(
            function() {
              this.success = true;
              this.loading = false;
            }.bind(this)
          )
          .catch(
            function() {
              this.error = true;
              this.errormsg = "Something went wrong, please contact support.";
              this.loading = false;
            }.bind(this)
          );
      });
    },
    saveDefault() {
      const formData = new FormData();
      formData.append("croppedImage", "default");
      this.loading = true;
      this.$http
        .post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
            Authorization: "bearer " + this.token
          }
        })
        .then(
          function() {
            this.success = true;
            this.loading = false;
          }.bind(this)
        )
        .catch(
          function() {
            this.error = true;
            this.errormsg = "Something went wrong, please contact support.";
            this.loading = false;
          }.bind(this)
        );
    },
    rotate() {
      // guess what this does :)
      this.$refs.cropper.rotate(90);
    },
    getFormattedName() {
      this.$http
        .get("api/getFormattedName", {
          headers: {
            Authorization: "bearer " + this.token
          }
        })
        .then(response => store.commit(AUTH_USER, response.data.name));
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.v-toolbar {
  .v-input--switch {
    height: 25px;
    .v-messages {
      display: none !important;
    }
  }
  .v-toolbar__items {
    height: 25px;
  }
}
#AOACropPreview {
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  overflow: hidden;
  display: inline-block;
}
.staffname {
  display: inline-block;
  text-transform: uppercase;
}
</style>
