<template>
<v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center wrap>
          <v-flex xs12 sm4>
            <div class="text-xs-left ma-2">
              <LoadingSpinner :loading="loading"/>
              <img src="aoa-logo.svg" />
              <form autocomplete="off" v-on:keyup.enter="loginsubmitclick()">
                <v-text-field
              name="username"
              label="Windows Username"
              v-model="username"
              single-line
              autocomplete="new-password"
              ></v-text-field>
              <v-text-field
              v-model="password"
              type='password'
              name="input-10-1"
              label="Password"
              autocomplete="new-password"
              ></v-text-field>
              <v-btn :disabled="(!username || !password)" color="success" @click="loginsubmit"  :loading="(status == 'loading')" id="loginsubmit">Submit</v-btn>
              </form>
              <v-alert type="error" :value="(status == 'loginfail')">
                The username and password provided are invalid. Please use your Windows credentials. 
              </v-alert>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import LoadingSpinner from "./UI/LoadingSpinner";
import { AUTH_VALIDATE, AUTH_USER } from "../store/actions/auth";
import { mapState } from "vuex";
export default {
  name: "Login",
  components: {
    LoadingSpinner
  },
  computed: mapState({
    status: state => state.auth.status
  }),
  data() {
    return {
      loading: false,
      username: "",
      password: ""
    };
  },
  mounted() {},
  methods: {
    loginsubmitclick() {
      if (this.username && this.password) {
        this.loginsubmit();
      }
    },
    loginsubmit() {
      let vuethis = this;
      this.$store
        .dispatch(AUTH_VALIDATE, [this.username, this.password])
        .then((result, rej) => {
          this.$router.push({ name: "AOAStaffPics" });
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#loginsubmit {
  margin-left: 0px;
}
img {
  width: 90%;
  padding-bottom: 20px;
}
</style>
