<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center wrap>
          <v-flex xs12>
            <div class="text-xs-center ma-2">
              <h2>Sorry, this application is for AOA staff only</h2>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import LoadingSpinner from "./UI/LoadingSpinner";
export default {
  name: "Unauthorized",
  components: {
    LoadingSpinner
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
