<template>
  <transition name="fade" mode="out-in">
    <div v-if="loading" class="loading"></div>
  </transition>
</template>

<script>
export default {
  name: "LoadingSpinner",
  props: ["loading"]
};
</script>
<style lang = "scss">
/**
 * @see https://codepen.io/MattIn4D/pen/LiKFC
 */
$seaserpent: #11c7eb;
$primary: #000066;
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 1000;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 22px;
  left: 22px;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0,0,0,0.1);*/
  background-color: rgba(255, 255, 255, 0.75);
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: $seaserpent 1.5em 0 0 0, $primary 1.1em 1.1em 0 0,
    $seaserpent 0 1.5em 0 0, $primary -1.1em 1.1em 0 0, $seaserpent -1.5em 0 0 0,
    $primary -1.1em -1.1em 0 0, $seaserpent 0 -1.5em 0 0,
    $primary 1.1em -1.1em 0 0;
}

/* Animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
